envs
*.sublime-*
.vscode
**/__pycache__
data
scraps
.asf_auth
preprocessing/Orbits
preprocessing/dem
*.tif
*.png
.create_some_maps.sh
vis
partitions
runs
runs_old
exemplars
paperruns
